<!doctype html>
<html lang="en">
<head>
    <include href="includes/header.htm"></include>
    <title>Order Summary</title>
</head>
<body>

<h3>Thank you for ordering {{ @SESSION.order->getFood() }} for {{ @SESSION.order->getMeal() }}</h3>

<check if="{{ !empty(@SESSION.order->getCondiments()) }}">
    <p>Condiments: {{ implode(@SESSION.order->getCondiments(), ", ") }}</p>
</check>

<a href="order">Place Another Order</a><br>
<a href="{{ @BASE }}">Home page</a>

</body>
</html>